<div class="container">
    <h1>My businesses</h1>
    <div>
        <div>
            <table mat-table [dataSource]="businesses" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let business"> {{business.name}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Business Name </th>
                    <td mat-cell *matCellDef="let business"> {{business.name}} </td>
                </ng-container>

                <ng-container matColumnDef="numberOfEmployees">
                    <th mat-header-cell *matHeaderCellDef> No. of Employees </th>
                    <td mat-cell *matCellDef="let business"> {{business.numberOfEmployees}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewBusiness(row)"></tr>
            </table>
        </div>
    </div>
    <div>
        <a mat-raised-button color="primary" routerLink="/add-business">Add business</a>
    </div>
</div>